@import "mixins";

.d-header-icons {
  #current-user {
    #toggle-current-user.icon {
      &:before {
        content: "";
        @include svg-icon(solid, bell, var(--header_primary-low-mid), 1em, 1em);
        font-size: var(--font-up-4);
      }
      
      .discourse-no-touch & {
        &:focus,
        &:hover {
          &:before {
            content: "";
            @include svg-icon(solid, bell, var(--primary-medium), 1em, 1em);
            font-size: var(--font-up-4);
          }
        }
      }
        
      img.avatar {
        display: none;
      }
    }

    .desktop-view & {
      &.active {
        #toggle-current-user.icon {
          &:before {
            content: "";
            @include svg-icon(solid, bell, var(--primary-medium), 1em, 1em);
            font-size: var(--font-up-4);
          }
        }
      }
    }
  }
}
